In [20]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [21]:
df = pd.read_csv('Car.csv')

In [22]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [23]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [24]:
experience_fit = df.experience.median()

In [25]:
experience_fit

5.0

In [26]:
df.experience = df.experience.fillna(experience_fit)

In [27]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

# Updated Dataset

In [28]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [29]:
reg = linear_model.LinearRegression()

# Training

In [30]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

# Predict

In [31]:
reg.predict([[160,10,5]])

array([71.37146872])

In [32]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [33]:
reg.intercept_

33.41000091043589

In [34]:
0.33059217 * 160 + 1.61053246 * 10 + 5 * -6.20772074 + 33.41000091043589

71.3714690104359